#Experiment 4 - Operations on Tuple
##Bidisha Chaudhuri PRN:25070123034
###EnTC Batch A2

In [ ]:
##Python Tuples
#Access Tuple Items

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrent"
print(thistuple)                        #WE CANNOT EDIT TUPLE

TypeError: 'tuple' object does not support item assignment

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple.insert[2,"blackcurrent"]
print(thistuple)                      #WE CANNOT EDIT TUPLE

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
#Addition of Tuples
t1 = (1, 2, 3)
t2 = (4, 5)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5)

In [ ]:
#Add tuple tp a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)   #If you don't use comma after this, it would be an ERROR
thistuple+=y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#Address verification after appending new item in the tuple
thistuple = ("apple", "banana", "cherry")
print("Before:", id(thistuple))

y = ("Orange",)
thistuple+=y

print("After:", id(thistuple))

Before: 137528709767680
After: 137527761985968

In [ ]:
#Address verification after appending new item in the list
thislist = ["apple", "banana", "cherry"]
print("Before:", id(thistuple))

y = ["Orange",]
thislist+=y

print("After:", id(thistuple))

Before: 137527761985968
After: 137527761985968

In [ ]:
#Problem Statement 1
Result = ("Maths",99,'A',)    #grade must be in quotes
subject, marks, grade = Result
#Check if the student has scored 75 or more marks and print "Distinction" if the condition is satisfied.

if marks>=75:
  print("Distinction")
else:
    print("Average")

Distinction

In [ ]:
#Problem statement 2

attendance = ('P','A', 'P', 'P', 'P', 'A', 'P')
print("The total number of days the employee was present are: ", attendance.count('P'))
print("The total number of days the employee was absent are: ", attendance.count('A'))

#To check whether the employee was absent at least once duringf the recorded period adn display an appropriate message.

if "A" in attendance:
  print("The Employee was absent at least once.")

The total number of days the employee was present are:  5
The total number of days the employee was absent are:  2
The Employee was absent at least once.